WoTget.Core/Authoring/Manifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="package">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1"  />
        <xs:element name="version" type="xs:string" minOccurs="1" maxOccurs="1"  />
        <xs:element name="authors" type="xs:string" minOccurs="1" maxOccurs="1"  />
        <xs:element name="owners" type="xs:string" minOccurs="1" maxOccurs="1"  />
        <xs:element name="projectUrl" type="xs:string" minOccurs="1" maxOccurs="1"  />
        <xs:element name="tags" minOccurs="1" maxOccurs="1" >
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="tag" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>